body,
html {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.bodyIndex {
    transition: linear 2.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2d7b9d;
    min-height: 100vh;
    justify-content: center;
    background-image: url("background3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.bodyraro {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.bodyraro__img {
    width: 25%;
}

input {
    width: 50%;
    height: 60px;
    background: #c44f68;
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 20px;
}

span {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

h1 {
    color: white;
}

.btn {
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background-color: #e4685d;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    font-family: "Montserrat", sans-serif;
    border: none;
    width: 150px;
    height: 55px;
    margin: 10px 0px;
}

.nombre {
    width: 100%;
}
